* {
  margin: 0 auto;
  padding: 0;
}

header nav {
  margin: 0px 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 96px;
}

.navigation {
  margin: 0px 120px;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2;
}

a {
  text-decoration: none;
  margin-left: 130px;
}
.active {
  color: #f50808;
}

.cover {
  width: 100%;
}

.photobox {
  margin-top: 121px;
  background-color: #ebebf0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapphotos {
  padding-top: 121px;
  padding-bottom: 121px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 130px 51px 130px;
  background-color: #19126b;
}

.copyright {
  color: #ffffff;
}

.socialicons {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: left;
}

.title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 24px;
  text-align: left;
  color: #090346;
  flex-direction: column;
}
.article {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;
  margin-left: 130px;
  text-align: left;
  color: #090346;
  flex-direction: column;
}

.historysection {
  display: flex;
  flex-direction: row;
  padding: 73px 130px 72px 130px;
  margin-top: 120px;
  background-color: #ebebf0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main .article {
  width: 780px;
  margin: 120px 530px 120px 130px;
}

.ourhistory {
  margin-right: 95px;
}

.wrapcontact {
  padding: 78px 130px 94px 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapinformation {
  display: flex;
  flex-direction: column;
  margin-right: 177px;
}
.wrapinformation .title {
  margin-bottom: 24px;
  font-size: 26px;
  font-weight: 40;
  color: #19126b;
}
.wrapinformation .item {
  color: #0d69a9;

  display: flex;
  flex-direction: row;
}
.span {
  color: #000000;
}
.map {
  display: flex;
  flex-direction: column;
}
