* {
  margin: 0 auto;
  padding: 0;
}

header nav {
  margin: 0px 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 96px;
}

.pagelist {
  margin: 0px 130px;
}

a {
  text-decoration: none;
}
.active {
  color: #f50808;
}

img {
  max-width: 1440px;
  max-height: 478px;
}

.welcomebox {
  margin-top: 96px;
  margin-left: 130px;
  margin-bottom: 96px;
  max-width: 780px;
  max-height: 116px;
}
.photo-box {
  display: inline-block;
  background-color: #ebebf0;
  margin-left: 130px;
  margin-top: 96px;
  margin-bottom: 96px;
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
  max-height: 439px;
  justify-content: center;
  gap: 35px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 130px 51px 130px;
  background-color: #19126b;
}

.socialicons {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: left;
}

.title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 24px;
  text-align: left;
  color: #090346;
  flex-direction: column;
}
.article {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;
  text-align: left;
  color: #090346;
  flex-direction: column;
}
